<div class="row">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="title-flex">
                  <h2 class="main-title">
                    <i class="bx bx-arrow-back" (click)="backToStudentList()"></i>View Student
                  </h2>
                </div>
                <hr class="title-line" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-12">
                <p class="dark-font semi-bold mb-1">First Name</p>
                <p>{{studnetList?.firstName}}</p>
              </div>
              <div class="col-sm-4 col-12">
                <p class="dark-font semi-bold mb-1">Last Name</p>
                <p>{{studnetList?.lastName}}</p>
              </div>
  
              <div class="col-sm-4 col-12">
                <p class="dark-font semi-bold mb-1">Email</p>
                <p>{{studnetList?.email}}</p>
              </div>
              <div class="col-sm-4 col-12">
                <p class="dark-font semi-bold mb-1">Phone Number</p>
                <p>{{studnetList?.phoneNumber}}</p>
              </div>
              <div class="col-sm-4 col-12">
                <p class="dark-font semi-bold mb-1">Education</p>
                <p>{{studnetList?.education}}</p>
              </div>
              <div class="col-sm-4 col-12">
                <p class="dark-font semi-bold mb-1">School Name</p>
                <p>{{studnetList?.schoolName}}</p>
              </div>
              <div class="col-sm-4 col-12">
                <p class="dark-font semi-bold mb-1">Address</p>
                <p>{{studnetList?.address}}</p>
              </div>
              <div class="col-sm-4 col-12">
                <p class="dark-font semi-bold mb-1">City</p>
                <p>{{studnetList?.city}}</p>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  