.row {
  margin-right: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
}
.icons-style {
  color: black;
  font-size: 24px;
  cursor: pointer;
}
.invalid {
  border: 1px solid red !important; /* Add any styles you want to indicate invalid input */
}



