<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <nav class="sidebar" #sidebar>
        <header>
          <div class="image-text">
            <span class="image">
              <img src="logo.png" alt="" />
            </span>
            <div class="text logo-text">
                    <span class="profession">Student Mangement</span>
                </div>
          </div>
          <!-- <i
            class="bx bx-chevron-right toggle"
            #toggle
           
          ></i> -->
        </header>
        <div class="menu-bar">
          <div class="menu">
            <ul class="menu-links">
              <li class="nav-link cursoer-pointer"  (click)="navigateToDashboard()" [ngClass]="{'active': routerName=='dashboard'}">
                <a>
                  <i class="bx bx-home-alt icon"></i>
                  <span class="text nav-text">Dashboard</span>
                </a>
              </li>
              <li class="nav-link cursoer-pointer"  (click)="navigateToCategory()" [ngClass]="{'active': routerName=='category'}">
                <a>
                  <i class='bx bxs-category icon'></i>
                  <span class="text nav-text">Category</span>
                </a>
              </li>
              <li class="nav-link cursoer-pointer" (click)="navigateToCourse()" [ngClass]="{'active': routerName=='course'}">
                <a>
                  <i class='bx bxs-category icon'></i>
                  <span class="text nav-text">Course</span>
                </a>
              </li>
              <li class="nav-link cursoer-pointer" (click)="navigateToUserList()"  [ngClass]="{'active': routerName=='studentList'}">
                <a >
                  <i class="bx bx-bar-chart-alt-2 icon"></i>
                  <span class="text nav-text">Student</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="bottom-content">
            <li class="">
              <a href="#">
                <i class="bx bx-log-out icon"></i>
                <span class="text nav-text">Logout</span>
              </a>
            </li>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
